
header {

    width: 100vw;
    height: 3rem;



}

.nav {

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;


    position: fixed;
    top: 0;

    z-index: 9999;

    overflow: visible;

    background-color: var(--bgNav);


}


.container-header {

    width: 100%;
    height: 3rem;

    display: flex;
    justify-content: space-between;

    padding: 0.5rem 2rem;




}


.menu {

    overflow-y: hidden;



    color: var(--txtPrincipal);
   
    font-weight: bold;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    
    .menuHamburguer{

        cursor: pointer; 
        transition: trasform 0.3s ease  ;
    }

}


.navDesktop{

    display: none;

}


.seletores {

    color: var(--txtPrincipal);

    font-size: clamp(1rem, 1.2vw, 1.2rem);

}

.seletorIdioma {



    button {

        position: relative;

        background-color: transparent;

        color: var(--txtPrincipal);



        &:hover {

            color: var(--spanGreen);

        }

    }



}


.menuIdiomas {

    display: none;

}

.activeIdiomas {

    position: absolute;
    top: 50px;
    right: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.04rem;

    overflow-x: hidden;

    width: 60px;
    height: 100px;

    background-color: var(--bgIdiomas);

    border-radius: 15px;
    border: 1px solid var(--border);

    ul {

        width: 100%;
        height: 100%;

        li{

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover{

                background-color: var(--spanGreen);
                color: var(--hoverIdiomas);
                font-weight: bold

            }

        }

    }

}




.menuMobile {

    position: fixed;
    top: 3rem;

    width: 100%;

   
    background-color: var(--bgNav);

    border: var(--border);

    padding: 0.5rem;

 

    a {

    display: flex;

    align-items: center;
    justify-content: center;


        font-size: clamp(0.8rem, 1rem, 1.5rem);

        text-decoration: none;
        list-style: none;

        cursor: pointer;

        color: var(--txtPrincipal);

        &:hover {

            color: var(--spanGreen);

        }


    }




}





@media (min-width: 1000px) {

    .menu{

        padding-left: 2rem;

    }


    .menuMobile .flex{

        display: none;
       
    }

    .navDesktop{

       display: block;
        
        .listaWeb{

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            ul,li{

                margin: 0;
                padding: 0;

            }

            a{

                font-size: clamp(0.8rem, 1rem, 1.3rem);

                text-decoration: none;

                color: var(--txtPrincipal);

                &:hover{

                    color: var(--spanGreen);

                }

            }
        }

    }


}
