main {

    height: 100vh;

    .princital {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80%;
        background-color: var(--background-color1);
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: var(--text-color1);
        font-size: 24px;
        font-weight: bold;

        img {
            width: 300px;
            height: auto;
            border-radius: 150px;
        }
    }


    .sobre {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1rem;
        align-items: center;
        background-color: var(--background-color3);



    }

    .projetos {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 160rem;
        align-items: center;
        background-color: var(--background-color2);

        .card {
            width: clamp(300px, 80vw, 400px);
            height: 550px;
            background-color: var(--background-color1);
            margin: 100px 20px 0px 20px;
            border-radius: 20px;
            color: var(--text-color1);
            padding: 50px 25px;


        }
    }

    .icons{
                display: flex;
                justify-content: end;
                gap: 20px;
                font-size: 25px;

                a{
                    color: var(--text-color1);
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: var(--btn-color-hover);
                        
                    }
                }
            }

}


.card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
}


.txt {
    background-color: rgb(0, 0, 0);
    padding: clamp(2px, 5vw, 5px);
    color: var(--text-color2);

    span {
        color: var(--text-color1);
        border-bottom: solid 2px var(--text-color1);
    }

    h1 {
        font-size: clamp(45px, 5vw, 58px);
        margin-bottom: 10px;
    }

    p {
        font-size: clamp(18px, 3vw, 22px);
        line-height: 1.5;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}


.icon-redes {
   margin-top: 50px;
}



































@media screen and (max-width: 768px) {
    .princital {
        .img {
            display: none;
        }
    }
}

@media screen and (max-width: 780px) {
    .princital {
        img {
            display: none;

        }
    }

}